@font-face {
    font-family:"SEGA";
    src: url("SEGA.TTF") format("truetype");
}

body{
    background-color: #6556cd;
    color: #303952;
    background-image: url("img_1.png");
}

nav{
    background-color: #6adf82;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5em 1em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand {
    margin-right: 1em;
}

a.brand-text{
    font-family: SEGA, serif;
    color: #303952;
    text-decoration: initial;
    font-size: 2em;
}

.search-form-container {
    width: 50%;
}

.search-form-container input {
    font-size: 1.2em;
    background-color: #c8d6e5;
    width: 100%;
    border: none;

}

.main {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 1em;
}

.card{
    background-color: #4fc0c4;
    width: 33.333%;
    padding: 1em;
}

.avatar{
    background-color: #303952;
}

.avatar > img {
    width: 100%;
}