:root {
    --background-color: #fff;
    --quote-color: #515372;
    --button-color: #515372;
}

body {
    background-color: #174e63;
}

.random-quote-container {
    background-color: var(--background-color);
    color: var(--quote-color);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 2.5rem;
    align-self: flex-start;
    height: 3em;
}

@media (max-width: 600px) {
    .quote {
        height: 4em;
    }
}


.quote > span:before, .quote > span:after {
    content: "\"";
}

.author {
    align-self: end;
    font-size: 1.2rem;
    height: 1em;
    margin-bottom: 0.5rem;
}

.author > span:before, .author > span:after {
    content: "-";
}

.author, .quote {
    font-weight: bold;
}

.action {
    align-self: flex-end;
}

.action > button {
    cursor: pointer;
    background-color: var(--button-color);
    color: #fff;
    border: solid #fff 1px;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem;
    transition: background-color 0.2s ease;
}

.action > button:hover {
    background-color: #36374b;
}

.action > button:active {
    background-color: #20212f;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
